$Bg-color:#f8f9fb;
$Bar-Active :#268fff;
$Btn-color:#ffa114;
$Btn-hov:#ffb342;
$wht:#fff;

$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;
:export { wht: $wht; }
*
{
    box-sizing: border-box;

}
body
{
 background: $Bg-color;
 
}


@mixin respond-to($media) {
   @if $media == small-screens {
    @media only screen and (min-width: $break-small) and (max-width: $break-medium - 1) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-medium)  and (max-width: $break-large - 1) { @content; }
    }
  }

section
{
  width: 50%;
  margin: auto;
  background: $wht;
  //margin-top:5%;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 13px 0 rgba(44,56,90,.08);
  box-shadow: 0 0 13px 0 rgba(44,56,90,.08);
  border: 1px solid rgba(0,0,0,.09);
  border-bottom: 1px solid #e0e0e0;
  border-radius: 4px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
    @include respond-to(small-screens) { width: 90%; } 
    @include respond-to(medium-screens) { width: 90%; }
   


    .ProgressSec
    {
    padding: 10px;

        .progress{
        width: 100%;
        background: #eee;
        height: 30px;
        margin: 15px 0px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        -webkit-box-shadow: inset 0 0 20px #c3c3c3;
        box-shadow: inset 0 0 20px #c3c3c3;

        %Bar-props{
        color: $wht;
        height: 30px;
        line-height: 40px;
        padding: 0 5px;
        max-width: 100%;
        border-radius: 20px;
        }

        .blue{
            width: 0;
            background: -moz-radial-gradient(center, ellipse cover, #268fff 0%, #2078D6 100%); /* ff3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #268fff), color-stop(100%, #2078D6)); /* safari4+,chrome */
            background: -webkit-radial-gradient(center, ellipse cover, #268fff 0%, #2078D6 100%); /* safari5.1+,chrome10+ */
            background: -o-radial-gradient(center, ellipse cover, #268fff 0%, #2078D6 100%); /* opera 11.10+ */
            background: -ms-radial-gradient(center, ellipse cover, #268fff 0%, #2078D6 100%); /* ie10+ */
            background: radial-gradient(ellipse at center, #268fff 0%, #2078D6 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268fff', endColorstr='#2078D6',GradientType=1 ); /* ie6-9 */
            @extend %Bar-props;
            }

        .red
        {
            background: -moz-radial-gradient(center, ellipse cover, #FF0000 0%, #D60000 100%); /* ff3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #FF0000), color-stop(100%, #D60000)); /* safari4+,chrome */
            background: -webkit-radial-gradient(center, ellipse cover, #FF0000 0%, #D60000 100%); /* safari5.1+,chrome10+ */
            background: -o-radial-gradient(center, ellipse cover, #FF0000 0%, #D60000 100%); /* opera 11.10+ */
            background: -ms-radial-gradient(center, ellipse cover, #FF0000 0%, #D60000 100%); /* ie10+ */
            background: radial-gradient(ellipse at center, #FF0000 0%, #D60000 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#D60000',GradientType=1 ); /* ie6-9 */
            @extend %Bar-props;
        }

            .PVal
            {
            position: absolute;
            top:4px;
            color:#333;
            width: 100%;

            }
        }

    }

 

 
    .panel-hdr
    {
    border-bottom: 1px solid rgba(0,0,0,.07);
    padding: 10px;

        h2
        {
        font-size: .875rem;
        color: #333;
        }

    }
  

 
    .ButtonSec
    {
    border-top: 1px solid rgba(0,0,0,.07);
    padding: 10px;
    width: 100%;
    float: left;


       
        .Btngrp{
        width: 75%;
        float: left;

            @include respond-to(small-screens) { width: 100%; } 
            @include respond-to(medium-screens) { width: 70%; }
             
            .btn-primary {
            color:$wht;
            background-color:$Btn-color;
            border: 0;
            margin: 0 5px;
            padding: 5px 20px;
            cursor: pointer;
            border-radius: 4px;

                &:hover {
                color: $wht;
                background-color:$Btn-hov;
                    
                }
                
                &:focus {
                outline: none;
                }

            }

        }

        .Slctgrp{
        width: 25%;
        float: left;
       
        @include respond-to(small-screens) { width: 100%; } 
        @include respond-to(medium-screens) { width: 30%; }
            .form-control
            {
                height: 30px;
                
                @include respond-to(small-screens) { width: 100%;margin-bottom: 10px; }

                &:focus {
                    outline: none;
                    }
            }

        }

    }

}